# general
.DS_Store
*.log
.idea

# node-specific
node_modules
package-lock.json
yarn.lock
shrinkwrap.yaml
pnpm-lock.yaml
dist

processing/data/*.osm
processing/data/*.osm.pbf
!processing/data/weird-track-angles-correct.osm.pbf
!processing/data/weird-track-angles-wrong.osm.pbf

assets/bundle.*
