# general
.DS_Store
*.log
.idea

# node-specific
node_modules
package-lock.json
yarn.lock
shrinkwrap.yaml
pnpm-lock.yaml
dist

*.pbf
!weird-track-angles-correct.osm.pbf
!weird-track-angles-wrong.osm.pbf
*.osm
